* {
    margin: 0;
    padding: 0;
}
.first_section {
    background-color: rgba(0, 0, 0, 0.898);
    height: 65vh;
    padding: 10px 51vh;
}

.top {
    display: flex;
    justify-content: space-between;
}

.header {
    font-size: 24px;
    color: #F9FAF8;
    margin-top: 16px;
}

.links {
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 20px;
    color: #E5E7EB;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* second */

.second {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.text {
    width: 400px;
    font-size: 18px;
}

.header2 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.mainimage {
    height: 300px;
    display: flex;
    margin-left: auto;
}

#button {
    border-radius: 10px;
    background: #1a66a5;
    padding: 20px;
    width: 90px;
    height: 0px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-top: 10px;
}

/* */

.second_section {
    background-color: #ffffff;
    height: 65vh;
    padding: 10px 51vh;
    margin: 10px;
    text-align: center;
}

.images {
    display: flex;
    width: 180px;
    margin-top: 70px;
}

.name {
    margin-top: 20px;
    font-style: italic;
}